### Imports

In [1]:
import pandas as pd
import os
import math as m

### Definindo diretório local onde está os arquivos

In [2]:
#os.chdir("C:/Users/pedro/OneDrive/Área de Trabalho/Orçamento")
os.chdir("C:/Users/Felipe/Downloads")
!dir

 O volume na unidade C nÆo tem nome.
 O N£mero de S‚rie do Volume ‚ 1EAC-A971

 Pasta de C:\Users\Felipe\Downloads

18/08/2021  09:33    <DIR>          .
18/08/2021  09:33    <DIR>          ..
18/08/2021  09:25    <DIR>          .ipynb_checkpoints
09/08/2021  10:55           348.665 35383f0f-1d82-48b3-8fd4-0a81a1f33e44.jpg
12/08/2021  09:33            16.649 A1- Registro de OKRs - sem preenchimento.xlsx
12/08/2021  10:18            16.821 A2 - Registro de OKRs - VisÆo e MissÆo.xlsx
12/08/2021  10:41            17.021 A3 - Registro de OKRs - OKR criado.xlsx
12/08/2021  10:55            17.340 A5 - Registro de OKRs - Scoring.xlsx
17/08/2021  09:59             1.404 cursos-2021-08-17.txt
18/08/2021  09:33             4.865 Gerar TXT.ipynb
17/08/2021  09:25           406.254 Jornada_Lider_Evolution_v2.pdf
18/08/2021  09:27         3.994.840 Modelo excel1 1909(3) (9).xlsx
18/08/2021  09:32               186 teste.txt
              10 arquivo(s)      4.824.045 bytes
               3 pasta(s)   32.626.372.608 bytes dispon¡veis

### Ler o excel, pegar a coluna de criação do txt a partir da segunda linha

In [3]:
data1=pd.read_excel("Modelo excel1 1909(3) (9).xlsx")
data=data1["Unnamed: 10"][1:]

In [4]:
data

1                            0000190913082021
2       481100758300100002021090000000041960D
3       871900758321300002021090000000002973D
4                                         NaN
5       780000758281000002021090000000000200D
                        ...
1994                                      NaN
1995                                      NaN
1996                                      NaN
1997                                      NaN
1998                                      NaN
Name: Unnamed: 10, Length: 1998, dtype: object

In [11]:
data2=pd.read_excel("Modelo excel1 1909(3) (9).xlsx", sheet_name="ORC_1909")
data2.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14'],
      dtype='object')

In [14]:
data2=data2['Unnamed: 6'][1:]

### Preparar arquivo de saida TXT

In [15]:
arquivo = open('teste.txt', 'w')

### Criar uma STRG com tadas as linhas do arquivo TXT

In [16]:
final=str(int((data1["Unnamed: 11"][1])))
linha=""
for x in range(len(data)):
    value=data.iloc[x]
    
    if (pd.notnull(value)):
        linha=linha+value+"\n"

for x in range(len(data2)):
    value=data2.iloc[x]
    
    if (pd.notnull(value)):
        linha=linha+value+"\n"

linha=linha+final

### Escrever e fechar o arquivo

In [17]:
arquivo.writelines(linha)
arquivo.close()

In [18]:
with open('teste.txt') as f:
    lines = f.readlines()

In [19]:
lines

['0000190913082021\n',
 '481100758300100002021090000000041960D\n',
 '871900758321300002021090000000002973D\n',
 '780000758281000002021090000000000200D\n',
 '781000758321100002021090000000031213D\n',
 '190900758281000002021090000000031323D\n',
 '190900758300100002021090000000027274D\n',
 '190900758321100002021090000000023009D\n',
 '190900758321300002021090000000025227D\n',
 '999900000010']